


<form class="w-50" [formGroup]="form" >
  <h3> Please say about your last job: </h3>

  <div class="form-group row" >
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="inputJobExperience"
               formControlName="zeroJobExperience" >
        <label class="form-check-label" for="inputJobExperience">
          I do not have job experience
        </label>
      </div>
    </div>
  </div>

  <div formGroupName="lastJob"
       [hidden]="form.get('zeroJobExperience').value" >

    <div class="form-group">
      <label for="inputCompanyName"> Company name </label>
      <input type="text" class="form-control" id="inputCompanyName" placeholder="Name"
             formControlName="companyName" >
    </div>

    <div class="form-group">
      <label for="inputCompanyIndustry"> Company industry </label>
      <input type="text" class="form-control" id="inputCompanyIndustry" placeholder="Industry"
             formControlName="companyIndustry"  >
    </div>

    <div class="form-group">
      <label for="inputPosition"> Position </label>
      <input type="text" class="form-control" id="inputPosition" placeholder="Position"
             formControlName="position"  >
    </div>

    <p> Period </p>
    <div class="form-row"
         formGroupName="period" >

      <ng-container formGroupName="from" >
        <div class="form-group col-md-4">
          <select id="inputPeriodStartMonth" class="form-control"
                  formControlName="month"  >
            <option selected>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <input type="text" class="form-control" id="inputPeriodStartYear"
                 formControlName="year" >
        </div>
      </ng-container>

      <ng-container formGroupName="to"
                    *ngIf="!form.controls.lastJob.controls.period.controls.forNow.value" >
        <div class="form-group col-md-4">
          <select id="inputPeriodEndMonth" class="form-control"
                  formControlName="month" >
            <option selected>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <input type="text" class="form-control" id="inputPeriodEndYear"
                 formControlName="year" >
        </div>
      </ng-container>

      <div class="form-group row">
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inputPeriodEndForNow"
                   formControlName="forNow" >
            <label class="form-check-label" for="inputPeriodEndForNow">
              for now
            </label>
          </div>
        </div>
      </div>

    </div>

  </div>


  <button type="button" class="btn btn-primary"
          (click)="back('./cv/create/1', true)"
  >Back </button>

  <button type="button" class="btn btn-primary"
          (click)="next('./cv/create/3')"
  >Next step </button>

</form>



