
<form class="w-50" [formGroup]="form">
  <h3> Please say what you want: </h3>

  <ng-container formGroupName="wantedPosition" >
    <div class="form-group">
      <label for="inputWantedPosition"> Wanted position </label>
      <input type="text" class="form-control" id="inputWantedPosition" placeholder="position"
             formControlName="position" >
    </div>

    <div class="form-group">
      <label for="inputCity">Section</label>
      <select id="inputCity" class="form-control" multiple
              formControlName="section" >
        <option>IT</option>
        <option>Food</option>
        <option>Apples</option>
        <option>Tables</option>
        <option>Pans</option>
      </select>
    </div>
  </ng-container>

  <button type="button" class="btn btn-primary"
          (click)="back('./cv/create/2', true)"
  >Back </button>

  <button type="button" class="btn btn-primary"
  (click)="finish()"
  >Finish </button>

</form>

